.git/
#folder
**/.DS_Store
**/*.sublime-workspace
.vscode
.idea
**/*.map
**/*.swp
**/*.iml
**/*.log
ship
resources/views/test/index.blade.php
public/bower_components
public/js
public/assets/css/theme.compiled.css
public/assets/css/bloom.css
public/mix-manifest.json
public/version.html
**/node_modules
vendor
**/yarn-error.log
**/.env
**/_ide_helper.php
**/.phpunit.result.cache
**/**/*.todo

**/.docker.env
